body {
	background-color: black;
}

.group1 {
	
	background-image: url("../images/food360.jpg");
	border-style: solid;
	border-color: white;

}
.group3 {
	text-align: center;
	color: silver;

}

.group2 {
	color: silver;
	text-align: center;
}

.group5 {
	text-align: center;
	color: silver;
    font-family: 'cursive', cursive;
}

.group 6 {
	text-align: center;
}
.heading {
	color:yellow;
	text-align: center;
	font-family: 'Patua One', cursive;
	font-weight: bold;
}

.sub-heading {
	color:silver;
	text-align: center;
	font-family: 'cursive', cursive;
}
.sub-heading1 {
	color: dodgerblue;
}
element.style {

}
.roundIcon .roundIcon__icon {
    font-size: .9em;
    position: relative;
    line-height: inherit;
    display: block;